<%# <div id="<%= dom_id pin"> %>
  <%# <p> %>
    <%# <%= pin.description %>
  <%# </p> %>

  <%# <% if pin.pin_image.attached? %>
    <%# <%= image_tag(pin.pin_image, style:"") %>
  <%# <% end %>
<%# </div> %>
